.register-container{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 80%;
}

.register{
    width:90%;
    background-color: aliceblue;
    display:flex;
    flex-direction: column;
    padding:2rem;
    border-radius: 1rem;
}

@media screen and (min-width:768px) {
    .register{
        width: 60%;
    }
}

@media screen and (min-width:1024px){
    .register{
        width:50%;
    }
}